body {
    font-family: "Helvetica",arial,sans-serif;
    font-weight: normal;
    font-family: proxima-nova;
    font-weight: 400;
    font-style: normal;
    line-height: 1.6em;
    text-transform: none;
    letter-spacing: 0px;
    font-size: 15px;
    background-color: #fff;
    color: #4a4a4a;
}